<!-- Sidebar -->
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div id="imagen_porta"></div>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"> Conectado como: {{globals.usuario.perm}}.
            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="#!/perfil/{{globals.usuario.id}}"><i class="glyphicon glyphicon-user"></i></a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#!/">
                    Principal
                </a>
            </li>
            <li>
                <a href="#!/perfilAdmin/{{globals.usuario.id}}">Perfil</a>
            </li>
            <li>
                <a href="#!/estructuras">Estructuras</a>
            </li>
            <li>
                <a href="#!/user">Trabajadores</a>
            </li>
            <li>
                <a ng-click="logout()">Salir</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <form name="formulario" ng-submit="modificar(idUsuario)">
                        <div class="form-group">
                            DNI: <input type="text" class="form-control" placeholder="DNI" ng-model="DNI" ng-required="true" ng-maxlength="9" ng-minlength="9" ng-pattern="/^([\d]{8}[\s]*[\w]{1})/">
                            <span ng-show="formulario.DNI.$error.required && formulario.DNI.$dirty">El dni es necesario.</span>
                            <span ng-show="formulario.DNI.$error.maxlength">Debe contener 9 caracteres como maximo..</span>
                            <span ng-show="formulario.DNI.$error.minlength">Debe contener 9 caracteres como minimo.</span>
                            <span ng-show="formulario.DNI.$error.pattern">No es un dni valido.</span>
                        </div>
                        <div class="form-group">
                            Nombre: <input type="text" class="form-control" placeholder="Nombre" ng-model="Nombre" ng-required="true" ng-maxlength="40" ng-minlength="3" ng-pattern="/^([\wÁáÉéÍíóÓúÚñÑüÜ-]+)[\s]*([\s\wÁáÉéÍíóÓúÚñÑüÜ-]*)/">
                            <span ng-show="formulario.Nombre.$error.required && formulario.Nombre.$dirty">El nombre es necesario.</span>
                            <span ng-show="formulario.Nombre.$error.maxlength">Debe contener 40 caracteres como maximo..</span>
                            <span ng-show="formulario.Nombre.$error.minlength">Debe contener 3 caracteres como minimo.</span>
                            <span ng-show="formulario.Nombre.$error.pattern">No es un nombre valido.</span>
                        </div>
                        <div class="form-group">
                            Apellido: <input type="text" class="form-control" placeholder="Apellido" ng-model="Apellido" ng-required="true" ng-maxlength="50" ng-minlength="3" ng-pattern="/^([\wÁáÉéÍíóÓúÚñÑüÜ-]+)[\s]+([\s\wÁáÉéÍíóÓúÚñÑüÜ-]+)/">
                            <span ng-show="formulario.Apellido.$error.required && fomulario.Apellido.$dirty">El nombre es necesario.</span>
                            <span ng-show="formulario.Apellido.$error.maxlength">Debe contener 50 caracteres como maximo..</span>
                            <span ng-show="formulario.Apellido.$error.minlength">Debe contener 3 caracteres como minimo.</span>
                            <span ng-show="formulario.Apellido.$error.pattern">No es un apellido valido.</span>
                        </div>
                        <div class="form-group">
                            Direccion: <input type="text" class="form-control" placeholder="Direccion" ng-model="Direccion" ng-required="false" ng-maxlength="100">
                            <span ng-show="formulario.Apellido.$error.maxlength">Debe contener 100 caracteres como maximo..</span>
                        </div>
                        <div class="form-group">
                            Permiso: <select ng-model="Permiso" class="form-control">
                            <option value="1">Administrador</option>
                            <option value="0">Trabajador</option>
                        </select>
                        </div>
                        <div class="form-group">
                            Contraseña: <input type="text" class="form-control" placeholder="Contraseña" ng-model="Pass" >
                            <span ng-show="formulario.Pass.$error.required && fomulario.Pass.$dirty">Campo necesario.</span>
                        </div>
                        <div class="form-group">
                            Repetir Contraseña: <input type="text" class="form-control" placeholder="Repetir Contraseña" ng-model="PassR" >
                            <span ng-show="formulario.PassR.$error.required && fomulario.PassR.$dirty">Campo necesario.</span>
                        </div>
                        <button type="submit" class="btn btn-default">Actualizar</button>
                        <a href="#!/user" class="btn btn-default">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
