<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#!/">
                    Principal
                </a>
            </li>
            <li>
                <a href="#!/user/{{globals.usuario.id}}">Perfil</a>
            </li>
            <li>
                <a href="#!/estructuras">Estructuras</a>
            </li>
            <li>
                <a href="#!/user">Usuarios</a>
            </li>
            <li>
                <a ng-click="logout()">Salir</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Listado de empleados
                        </div>
                        <form name="formulario" ng-submit="modificar()">
                            <div class="form-group">
                                DNI: <input type="text" class="form-control" placeholder="DNI" ng-model="DNI" ng-required="true" ng-maxlength="9" ng-minlength="9" ng-pattern="/(^[X-Z]\d{7}[A-Z]$)|(^\d{8}[A-Z]$)/">
                                <span ng-show="formulario.DNI.$error.required && formulario.DNI.$dirty">El dni es necesario.</span>
                                <span ng-show="formulario.DNI.$error.maxlength">Debe contener 9 caracteres como maximo..</span>
                                <span ng-show="formulario.DNI.$error.minlength">Debe contener 9 caracteres como minimo.</span>
                                <span ng-show="formulario.DNI.$error.pattern">No es un dni valido.</span>
                            </div>
                            <div class="form-group">
                                Nombre: <input type="text" class="form-control" placeholder="Nombre" ng-model="Nombre" ng-required="true" ng-maxlength="40" ng-minlength="3" ng-pattern="/^[a-zA-Z]*$/">
                                <span ng-show="formulario.Nombre.$error.required && formulario.Nombre.$dirty">El nombre es necesario.</span>
                                <span ng-show="formulario.Nombre.$error.maxlength">Debe contener 40 caracteres como maximo..</span>
                                <span ng-show="formulario.Nombre.$error.minlength">Debe contener 3 caracteres como minimo.</span>
                                <span ng-show="formulario.Nombre.$error.pattern">No es un nombre valido.</span>
                            </div>
                            <div class="form-group">
                                Apellido: <input type="text" class="form-control" placeholder="Apellido" ng-model="Apellido" ng-required="true" ng-maxlength="50" ng-minlength="3" ng-pattern="/^[a-zA-Z]*$/">
                                <span ng-show="formulario.Apellido.$error.required && fomulario.Apellido.$dirty">El nombre es necesario.</span>
                                <span ng-show="formulario.Apellido.$error.maxlength">Debe contener 50 caracteres como maximo..</span>
                                <span ng-show="formulario.Apellido.$error.minlength">Debe contener 3 caracteres como minimo.</span>
                                <span ng-show="formulario.Apellido.$error.pattern">No es un apellido valido.</span>
                            </div>
                            <div class="form-group">
                                Direccion: <input type="text" class="form-control" placeholder="Direccion" ng-model="Direccion" ng-required="false" ng-maxlength="100">
                                <span ng-show="formulario.Apellido.$error.maxlength">Debe contener 100 caracteres como maximo..</span>
                            </div>
                            <div class="form-group">
                                Permiso: <select ng-model="Permiso" class="form-control">
                                <option value="1">Administrador</option>
                                <option value="0">Trabajador</option>
                            </select>
                            </div>
                            <div class="form-group">
                                Contraseña: <input type="text" class="form-control" placeholder="Contraseña" ng-model="Pass" ng-required="true">
                                <span ng-show="formulario.Pass.$error.required && fomulario.Pass.$dirty">Campo necesario.</span>
                            </div>
                            <div class="form-group">
                                Repetir Contraseña: <input type="text" class="form-control" placeholder="Repetir Contraseña" ng-model="PassR" ng-required="true">
                                <span ng-show="formulario.PassR.$error.required && fomulario.PassR.$dirty">Campo necesario.</span>
                            </div>
                            <button type="submit" class="btn btn-default btn-block">Enviar</button>
                            <a href="#!/user" class="btn btn-default btn-block">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
