<!-- Sidebar -->
<div id="wrapper">


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div id="imagen_porta"></div>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown"> Conectado como: {{globals.usuario.perm}}.
            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a href="#!/perfil/{{globals.usuario.id}}"><i class="glyphicon glyphicon-user"></i></a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#!/userini">
                    Principal
                </a>
            </li>
            <li>
                <a href="#!/perfil/{{globals.usuario.id}}">Perfil</a>
            </li>
            <li>
                <a href="#!/userini">Estructuras</a>
            </li>
            <li>
                <a ng-click="logout()">Salir</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Listado de empleados
                        </div>
                        <h2 class="page-header">
                            {{ model.datos.Nombre }}
                        </h2>
                        <dl>
                            <dt>Nombre</dt>
                            <dd>{{ model.datos.Nombre }}</dd>
                            <dt>Apellido</dt>
                            <dd>{{ model.datos.Apellido }}</dd>
                            <dt>DNI</dt>
                            <dd>{{ model.datos.DNI }}</dd>
                            <dt>Domicilio</dt>
                            <dd>{{ model.datos.Direccion }}</dd>
                            <dt>Permisos</dt>
                            <dd ng-if="model.datos.Permiso == 1">Administrador</dd>
                            <dd ng-if="model.datos.Permiso == 0">Trabajador</dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>