<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#!/">
                    Principal
                </a>
            </li>
            <li>
                <a href="#!/user/{{globals.usuario.id}}">Perfil</a>
            </li>
            <li>
                <a href="#!/estructuras">Estructuras</a>
            </li>
            <li>
                <a href="#!/user">Usuarios</a>
            </li>
            <li>
                <a ng-click="logout()">Salir</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Listado de empleados
                        </div>
                        <h2 class="page-header">
                            {{ model.datos.Nombre }}
                        </h2>
                        <dl>
                            <dt>Nombre</dt>
                            <dd>{{ model.datos.Nombre }}</dd>
                            <dt>Apellido</dt>
                            <dd>{{ model.datos.Apellido }}</dd>
                            <dt>DNI</dt>
                            <dd>{{ model.datos.DNI }}</dd>
                            <dt>Domicilio</dt>
                            <dd>{{ model.datos.Direccion }}</dd>
                            <dt>Permisos</dt>
                            <dd ng-if="model.datos.Permiso == 1">Administrador</dd>
                            <dd ng-if="model.datos.Permiso == 0">Trabajador</dd>

                        </dl>

                        <a href="#!/user" class="btn btn-default btn-block">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>