<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nombre empresa</title>
    <link href="css/estilo.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>

<div class="wrapper">
    <div id="imagen_portada"></div>

    <!--<div id="titulo_datos">
    <p id="titulo">Por favor introduzca su nombre de usuario y contraseña </p>
    </div>
    -->

<div id="formulario_portada">
    <!-- Como rellenar los campos
        METHOD="POST" manda los datos al agente procesador almacenandolos en el cuerpo del formulario
        METHOD="GET" mando los datos agregandolos a la url separandolos con una ?
        ACTION indica la direccion a donde se mandaran los datos, se puede usar mailto: "la url que sea"
        ENCTYPE es la encriptacion
    -->
    <FORM name="formulario_datos" ng-submit="login()">
        <ul id="credenciales">
        <li><strong id="titulo_formulario">ID usuario</strong></li>
        <!--Value para darle un valor predeterminado y Name es el nombre del elemento con el que se va a relacionar-->
        <li><INPUT type="text"  class="form-control" placeholder="DNI" ng-model="DNI" ng-required="true" ></li>
            <span ng-show="formulario_datos.DNI.$dirty && formulario_datos.DNI.$error.required" class="help-block">Username is required</span>
        <li id="formulario"><strong id="titulo_formulario">Contraseña</strong></li>
        <li><INPUT type="password"  class="form-control" placeholder="pass" ng-model="pass" ng-required="true" ></li>
            <span ng-show="formulario_datos.pass.$dirty && formulario_datos.pass.$error.required" class="help-block">Password is required</span>
        </ul>
        <br><button type="submit" ng-disabled="formulario_datos.$invalid || dataLoading" class="btn btn-danger" >Ingresar</button></br>
    </FORM>

</div>
</div>
</body>

